cypress/screenshots/
seleniumTests/bin/Debug/
seleniumTests/obj/project.nuget.cache
seleniumTests/bin/Debug/
seleniumTests/Support/CommonLogic.cs
seleniumTests/Support/ExceptionLog.cs
seleniumTests/Support/TestCaseException.cs
seleniumTests/bin/Debug/net5.0/