cypress/screenshots/*
seleniumTests/obj/project.nuget.cache
seleniumTests/bin/Debug/*
seleniumTests/Support/CommonLogic.cs
seleniumTests/Support/ExceptionLog.cs
seleniumTests/Support/TestCaseException.cs
seleniumTests/bin/Debug/net5.0/*
seleniumTests/obj/Debug/net5.0/ref/*
seleniumTests/bin/Debug/net5.0/seleniumTests.dll
seleniumTests/bin/Debug/net5.0/seleniumTests.pdb
seleniumTests/bin/Debug/net5.0/ref/seleniumTests.dll
seleniumTests/obj/Debug/net5.0/seleniumTests.csproj.CoreCompileInputs.cache
seleniumTests/obj/Debug/net5.0/seleniumTests.dll
seleniumTests/obj/Debug/net5.0/seleniumTests.pdb
seleniumTests/obj/Debug/net5.0/ref/seleniumTests.dll
